<div class="row">
    <div class="col-6">
       <app-dona
       [titulo]="title1"
       [labels]="lb1"
       [data]="datos1"
       ></app-dona>
    </div>
    <div class="col-6">
        <app-dona
        [titulo]="title2"
        [labels]="lb2"
        [data]="datos2"
        ></app-dona>
     </div>
</div>

<div class="row">
    <div class="col-6">
       <app-dona
       [titulo]="title3"
       [labels]="lb3"
       [data]="datos3"
       ></app-dona>
    </div>
    <div class="col-6">
        <app-dona
        [titulo]="title4"
        [labels]="lb4"
        [data]="datos4"
        ></app-dona>
     </div>
</div>